<div class="promo__item">
    <img src="images/common/promo/1.jpg" alt="" class="promo__img"/>
    <div class="promo__text">
        <div class="promo__title">Сет из любимых роллов</div>
        <div class="promo__desc">Щедрое предложение от Чилин.<br />В подарок при заказе от 2 500 <span class="rubl">a</span></div>
        <div class="promo__actions">
            <i class="icn icn_favorite promo__favorite"></i>
            <i onclick="app.popup.open('share');" class="icn icn_share promo__share"></i>
        </div>
    </div>
</div>