<!DOCTYPE HTML>
<html>
<head>
    <title>Banansi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- build:style bundle -->
    <!-- /build -->
    <!-- build:script bundle -->
    <!-- /build -->
</head>
<body class="body body_page_main">
<!--(bake views/_header.html icnLoupe2="right" icnMenu="right")-->

<!--(bake views/_nav_main.html kitchen-class="nav__item_state_active")-->

<!--(bake views/_slider_main.html)-->

<!-- build:process -->
<div class="categories">
    <!--(bake views/_category-item.html href="./companies.html" title="Все кухни" img="images/<%= platform %>/categories/kitchen/all.png")-->
    <!--(bake views/_category-item.html href="./companies.html" title="Итальянская / Европейская" img="images/<%= platform %>/categories/kitchen/itl.png")-->
    <!--(bake views/_category-item.html href="./companies.html" title="Японская / Китайская" img="images/<%= platform %>/categories/kitchen/jp.png")-->
    <!--(bake views/_category-item.html href="./companies.html" title="Русская / Украинская" img="images/<%= platform %>/categories/kitchen/rus.png")-->
    <!--(bake views/_category-item.html href="./companies.html" title="Кавказская / Узбекская" img="images/<%= platform %>/categories/kitchen/cs.png")-->
    <!--(bake views/_category-item.html href="./companies.html" title="Американская / Мексиканская" img="images/<%= platform %>/categories/kitchen/usa.png")-->
</div>
<!-- /build -->
<script>
</script>
</body>
</html>